/* zeros out any default settings
    *{
        margin:0
        padding:0
    }
*/

h1{
    color: darkcyan;
}

/*css selectors 
to apply the style to an element use a{ b : c;}
where a = element, b = property (what you're doing to  the element) and c = value (what the elements looks like */

body{

    background-color: rgb(0, 0, 0);
    color: antiquewhite;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-size: medium;

    font-weight: 500;

    line-height: 1.6em;

    margin: 0;

    }

    /* to apply style to a  class, we us a dot*/

    .container{
        width: 80%; /*use % so it moves with the size of screen */
        
        margin: auto;
        /*margin = space btwn the boarder and the edges of the screen 
        use margin:top right, bottom, and left 
        eg. margin: 5px 10px 5px 10px = margin: 5px 10px*/
    }

    .box-1{
        background-color: #333; color: #fff;

        border-right: 5px red solid;
        border-left: 5px red solid;
        border-bottom: 5px red solid;
        border-top: 5px red solid;

        /* same as top */

        border: 5px red solid;
        border-width: 2px;
        
        /* padding is the space btwn the content and the boarder */
        padding: 20px;

        margin-top: 20px;        
    }

    .box-1 p{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 700;
        font-style: italic;
        text-decoration: dotted;
        text-transform: lowercase;
        letter-spacing: 0.01em;
        word-spacing: 0.3em;
    }

    .box-2{
        border: 3px dotted #ccc;
        padding: auto;
        margin: 20px 0;
    }

    .categories{
        border: 1px #ccc solid;
        padding: 10px;
        border-radius: 15px;
    }

    .categories h2{
        text-align: center;
    }

    .categories ul{
        padding: 0;
        list-style: none;
    }

    a{
        text-decoration: none;
        color: palevioletred;
    }

    a:hover{
        color:skyblue;
    }

    a:active{
        color: rgb(102, 15, 188);
    }

    a:visited{
        color: white;
    }

