h1{
    color: darkcyan;
}

/*css selectors 
to apply the style to an element use a{ b : c;}
where a = element, b = property (what you're doing to  the element) and c = value (what the elements looks like */

body{

    background-color: rgb(0, 0, 0);
    color: antiquewhite;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-size: medium;

    font-weight: 500;

    line-height: 1.6em;

    margin: 0;

    }

    /* to apply style to a  class, we us a dot*/

    .container{
        width: 80%;
        margin: auto;
    }

    .box-1{
        background-color: #333; color: #fff;

    }

